<%-include('partials/head') %>

    <%-include('partials/navbar')  %>

<div class="grid grid-cols-3 gap-10">

    <div class="mockup-window border bg-base-300 w-11/12 m-5">
        <div class="flex justify-center text-center">
            <div class="text-center rounded-xl bg-white font-mono w-11/12"><a href="https://www.chatgpt.com/">https://www.chatgpt.com/</a></div>

        </div>
        <div class="flex justify-center px-4 py-16 bg-base-200">
            <img class="w-1/2 rounded-full"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/ChatGPT_logo.svg/1024px-ChatGPT_logo.svg.png">
        </div>
        <div class="card-body justify-center">
            <h2 class="card-title justify-center">ChatGPT</h2>

            <input type="text" placeholder="Ask anything here" class="input input-bordered input-info w-full max-w-xs" />
        </div>
        <div class="flex justify-center">
            <button class="btn btn-primary rounded-none w-full justify-center">TRY ME</button>

        </div>
    </div>
    <div class="mockup-window border bg-base-300 w-11/12 m-5">
        <div class="flex justify-center text-center">
            <div class="text-center rounded-xl bg-white font-mono w-11/12"><a href="https://gemini.google.com/app">https://gemini.google.com/app</a></div>

        </div>
        <div class="flex justify-center px-4 py-16 bg-base-200">
            <img class="w-1/2 rounded-full"
                src="https://logowik.com/content/uploads/images/google-ai-gemini91216.logowik.com.webp">
        </div>
        <div class="card-body justify-center">
            <h2 class="card-title justify-center">Gemini</h2>

            <input type="text" placeholder="Type here" class="input input-bordered input-info w-full max-w-xs" />
        </div>
        <div class="flex justify-center">
            <button class="btn btn-primary rounded-none w-full justify-center">TRY ME</button>

        </div>
    </div>
    <div class="mockup-window border bg-base-300 w-11/12 m-5">
        <div class="flex justify-center text-center">
            <div class="text-center rounded-xl bg-white font-mono w-11/12"><a href="https://phind.com/">https://phind.com/</a></div>

        </div>
        <div class="flex justify-center px-4 py-16 bg-base-200">
            <img class="w-1/2 rounded-full"
                src="https://res.cloudinary.com/dvzkzccvn/images/f_auto,q_auto/v1690884811/Phind_AI_Logo_rzfxrm/Phind_AI_Logo_rzfxrm.jpg?_i=AA">
        </div>
        <div class="card-body justify-center">
            <h2 class="card-title justify-center">Phind</h2>

            <input type="text" placeholder="Type here" class="input input-bordered input-info w-full max-w-xs" />
        </div>
        <div class="flex justify-center">
            <button class="btn btn-primary rounded-none w-full justify-center">TRY ME</button>

        </div>
    </div>
    <div class="mockup-window border bg-base-300 w-11/12 m-5">
        <div class="flex justify-center text-center">
            <div class="text-center rounded-xl bg-white font-mono w-11/12"><a href="https://copilot.microsoft.com/">https://copilot.microsoft.com/</a></div>

        </div>
        <div class="flex justify-center px-4 py-16 bg-base-200">
            <img class="w-1/2 rounded-full"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Microsoft_365_Copilot_Icon.svg/2048px-Microsoft_365_Copilot_Icon.svg.png">
        </div>
        <div class="card-body justify-center">
            <div class="grid grid-cols-1 justify-center">
            <h2 class="card-title justify-center">Co-Pilot</h2>

            <input type="text" placeholder="Type here" class="input input-bordered input-info w-full justify-center max-w-xs" />
        </div>
        </div>
        <div class="flex justify-center">
            <button class="btn btn-primary rounded-none w-full justify-center">TRY ME</button>

        </div>
    </div>
    <div class="mockup-window border bg-base-300 w-11/12 m-5">
        <div class="flex justify-center text-center">
            <div class="text-center rounded-xl bg-white font-mono w-11/12"><a href="https://llama.meta.com/llama3/">https://llama.meta.com/llama3/</a></div>

        </div>
        <div class="flex justify-center px-4 py-16 bg-base-200">
            <img class="w-1/2 rounded-full"
                src="https://media.licdn.com/dms/image/D4D12AQGSDHcylNVfcA/article-cover_image-shrink_600_2000/0/1713710970597?e=2147483647&v=beta&t=FV__dZLzmCHa6Fm6-eqDzGa4KNLie6MFDC6SQ1FGiQI">
        </div>
        <div class="card-body justify-center">
            <h2 class="card-title justify-center">LLama3</h2>

            <input type="text" placeholder="Type here" class="input input-bordered input-info w-full max-w-xs" />
        </div>
        <div class="flex justify-center">
            <button class="btn btn-primary rounded-none w-full justify-center">TRY ME</button>

        </div>
    </div>
</div>

</body>

</html>