<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <title>Document</title>
</head>

<body>
    <div class="grid grid-cols-3 gap-10">
        <div class="card bg-base-100 image-full w-96 shadow-xl">
            <figure>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/ChatGPT_logo.svg/512px-ChatGPT_logo.svg.png" alt="Chat GPT" />
            </figure>
            <div class="card-body">
                <h2 class="card-title">Chat GPT</h2>
                <p>Wanna try Chat GPT</p>
                <div class="card-actions justify-end">
                    <button class="btn btn-primary">TRY ME</button>
                </div>
            </div>
        </div>
        <div class="card bg-base-100 image-full w-96 shadow-xl">
            <figure>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/ChatGPT_logo.svg/512px-ChatGPT_logo.svg.png" alt="Chat GPT" />
            </figure>
            <div class="card-body">
                <h2 class="card-title">Chat GPT</h2>
                <p>Wanna try Chat GPT</p>
                <div class="card-actions justify-end">
                    <button class="btn btn-primary">TRY ME</button>
                </div>
            </div>
        </div>
        <div class="card bg-base-100 image-full w-96 shadow-xl">
            <figure>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/ChatGPT_logo.svg/512px-ChatGPT_logo.svg.png" alt="Chat GPT" />
            </figure>
            <div class="card-body">
                <h2 class="card-title">Chat GPT</h2>
                <p>Wanna try Chat GPT</p>
                <div class="card-actions justify-end">
                    <button class="btn btn-primary">TRY ME</button>
                </div>
            </div>
        </div>
        <div class="card bg-base-100 image-full w-96 shadow-xl">
            <figure>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/ChatGPT_logo.svg/512px-ChatGPT_logo.svg.png" alt="Chat GPT" />
            </figure>
            <div class="card-body">
                <h2 class="card-title">Chat GPT</h2>
                <p>Wanna try Chat GPT</p>
                <div class="card-actions justify-end">
                    <button class="btn btn-primary">TRY ME</button>
                </div>
            </div>
        </div>
        <div class="card bg-base-100 image-full w-96 shadow-xl">
            <figure>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/ChatGPT_logo.svg/512px-ChatGPT_logo.svg.png" alt="Chat GPT" />
            </figure>
            <div class="card-body">
                <h2 class="card-title">Chat GPT</h2>
                <p>Wanna try Chat GPT</p>
                <div class="card-actions justify-end">
                    <button class="btn btn-primary">TRY ME</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>